pkgbase = yawf-electron-bin
	pkgdesc = An unofficial WhatsApp desktop client for Linux (YAWF - Electron edition)
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/Wahid7852/YAWF
	arch = x86_64
	license = GPL3
	depends = gtk3
	depends = nss
	depends = libxss
	depends = libxtst
	depends = at-spi2-core
	depends = libsecret
	depends = xdg-utils
	provides = yawf
	conflicts = yawf
	conflicts = yawf-electron
	noextract = yawf-electron-bin-3.0.0.AppImage
	source = yawf-electron-bin-3.0.0.AppImage::https://github.com/Wahid7852/YAWF/releases/download/v3.0.0/yawf-electron-3.0.0-x86_64.AppImage
	source = yawf.desktop
	source = yawf.png
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = yawf-electron-bin
